<div id="content-wrapper">
  <div id="header">
    <span id="title">autumn playground</span>
  </div>
  <div id="dashboard">
    <div id="model-input" class="dashboard-panel" style="border-right: 1px solid black;">
      Enter Autumn Model S-Expression:
      <form style="width: 90%; font-size: 13px !important; width: 95%; height: 100%;" action="$(Genie.Router.linkto(:compile_autumn))" method="POST">
      <textarea id="autumn-string" name="autumnstring" rows="30" cols="50" placeholder="$(content)"
      style="height: 97%; width: 100%; pointer-events: $(length(content) != 0 ? string(:none) : string())" spellcheck="false">
      </textarea>
      <input 
             type="submit" style="width: 100px; margin-top: 10px; pointer-events: $(running ? string(:none) : string());"
             value="$(!compiled ? string(:Submit) : string(:Reset))">
      </form>
    </div>
    <div style="text-align: center;" id="grid-view" class="dashboard-panel">
      Model Simulation
      <div id="container">
        <div class="grid-container">
          <div class="grid" style="grid-template-columns: repeat($(floor(Int64, sqrt(length(size)))), 25px); grid-template-rows: repeat($(floor(Int64, sqrt(length(size)))), 25px);">
            <% @foreach(size) do s %>
              <form action="$(Genie.Router.linkto(:clicked))" method="POST" class="cell" id="$(s)">
                   <textarea name="id" style="display: none;">"$(s)"</textarea>
                   <input type="submit" style="pointer-events: $(!running ? string(:none) : string()); background-color: $(s in particles ? string(:red) : string(:white))">
                   </input>
              </form>
            <% end %>
          </div>
          <div style="display: flex; margin-top: 10px;">
            <form action="$(Genie.Router.linkto(:run_autumn))" method="POST"
                  style="width: fit-content; height: fit-content;" id="simulation-controls-1">
              <input type="submit" id="run" value="$(not_run_yet ? string(:Start) : string(:Restart))" 
                     style="pointer-events: $(running ? string(:none) : string()); width: 100px; margin-right: 10px;
                            display: $(!compiled ? string(:none) : string())"></input>
            </form>
            <form action="$(Genie.Router.linkto(:stop_autumn))" method="POST"
                style="width: fit-content; height: fit-content;" id="simulation-controls-2">
              <input type="submit" value="$(running ? string(:Pause) : string(:Continue))" value="Pause" 
                      style="pointer-events: $(not_run_yet ? string(:none) : string()); width: 100px; 
                             display: $(!compiled ? string(:none) : string())"></input>
            </form>
            <form action="$(Genie.Router.linkto(:step))" method="POST"
                style="width: fit-content; height: fit-content; visibility: hidden;" id="simulation-controls-3">
              <input type="submit" id="step" style="width: 100px" value="$(running)"></input>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script>

    document.addEventListener("DOMContentLoaded", function() {

      console.log("$(compiled)")
      if ("$(compiled)" == "false") {
        var myCodeMirror = CodeMirror.fromTextArea(document.getElementById("autumn-string"), { mode : "erlang",
                                                                                             theme : "erlang-dark",
                                                                                             lineNumbers: true});
      }


      if (document.getElementById("step").value == "true") {
        console.log("running is true");
        setTimeout(function() {
          console.log("about to click step button!")
          document.getElementById("step").click()
        }, 650);
      } else {
        console.log("running is false: "+document.getElementById("step").value);
      }
    })
  </script>
</div>